<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="adminNav">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <ul class="nav">
        <li class="admin nav-item" id="users">
          <a class="nav-link" href="/admin/users">Пользователи</a>
        </li>
        <li class="admin nav-item" id="rooms">
          <a class="nav-link" href="/admin/rooms">Номера</a>
        </li>
        <li class="admin nav-item" id="bookings">
          <a class="nav-link" href="/admin/bookings">Бронирования</a>
        </li>
      </ul>
    </div>
    <div class="col-4"></div>
  </div>
</div>
</body>
</html>