<div th:fragment="userInfo(user)">
    <form action="/admin/user" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="userId">ID</label>
            <input type="text" value="${user.id}" id="userId" readonly>
            <label for="username">Имя пользователя</label>
            <input type="text" value="${user.username}" id="username">
            <label for="roles">Роль</label>
            <select id="roles">
                <option value="0">USER</option>
                <option value="1">MANAGER</option>
                <option value="2">ADMIN</option>
            </select>
        </div>
    </form>
</div>