<!DOCTYPE html>
<html lang="en" xmlns:data-date-format="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Гостиница "МГТУ"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navbar :: menu"></div>
<div class="container" id="accordionExample">
    <div class="row searchForm">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="row g-3" method="POST" id="search" name="search" action="/search" modelAttribute="searching">
                <div class="col-2 col-lg-3 cIn">
                    <input type="date" class="form-control" id="cI" name="cI" required>
                </div>
                <div class="col-2 col-lg-3 cOut">
                    <input type="date" class="form-control" id="cO" name="cO" required>
                </div>
<!--                <div class="col-md-3 col-lg-3 guest">-->
<!--                    <input type="number" min="0" max="4" class="form-control lg-5" id="count" name="count" required>-->
<!--                </div>-->
                <div class="col-8 col-lg-6">
                    <input type="submit" class="btn btn-dark col-md-3 col-lg-5" value="Забронировать">
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

    </div>



<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog=scrollable">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Бронирование</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <form method="POST" action="/block" id="blockForm" modelAttribute="booking">-->
<!--            <div class="modal-body">-->
<!--                    <label for="checkIn" class="form-label">Дата заезда</label>-->
<!--                    <input type="text" data-date-format="yyyy-mm-dd" id="checkIn" class="datepicker form-control" name="checkIn" required/>-->
<!--                    <label for="checkOut"  class=" form-label">Дата выезда</label>-->
<!--                    <input type="text" data-date-format="yyyy-mm-dd" id="checkOut" class="datepicker form-control" name="checkOut" required/>-->
<!--                    <input type="hidden" id="roomId" name="roomId" value=""/>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="submit" class="btn btn-primary">Забронировать</button>-->
<!--            </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--    let block = document.getElementById("test_booking")-->

<!--    $.get({-->
<!--        url: 'api/bookings',-->
<!--        success: function(data) {-->
<!--            console.warn(data);-->
<!--            let table = "<table border='1'>"-->
<!--            for(let i = 0; i < data.length; i++) {-->
<!--                table = table + "<tr><td>" + data[i].id + "<td></td>" + data[i].checkIn + "<td></td>" + data[i].checkOut + "</td></tr>"-->
<!--            }-->
<!--            table=table+"</table>"-->
<!--            block.append(table);-->
<!--        }-->
<!--    })-->
<!--</script>-->
<script src="https://kit.fontawesome.com/fa7e75682d.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/Main.js}"></script>
<script src="text/javascript" th:src="@{/js/Requests.js}"></script>
<script src="text/javascript" th:src="@{/js/DatePicker.js}"></script>
</body>
</html>