<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="main">
    <div class="row mt-2" th:each="res : ${main}">
        <div class="offset-2 offset-lg-3 col-8 col-lg-6">
            <div class="card" style="width: 100%">
                <div th:attr="id=${'carouselExampleIndicators'+res.id}" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide-to="0" class="active"></li>
                        <li th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide-to="1"></li>
                        <li th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100" th:src="|data:image/png;base64,${res.roomType.photos[0].imageBase64}|">
                            <!--              <img class="w-100" src="https://picsum.photos/1920/1080?random=1">-->
                        </div>
                        <div class="carousel-item">
                            <!--              <img class="w-100" src="https://picsum.photos/1920/1080?random=2">-->
                            <img class="w-100" th:src="|data:image/png;base64,${res.roomType.photos[1].imageBase64}|">
                        </div>
                        <div class="carousel-item">
                            <!--              <img class="w-100" src="https://picsum.photos/1920/1080?random=3">-->
                            <img class="w-100" th:src="|data:image/png;base64,${res.roomType.photos[2].imageBase64}|">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${res.roomType.title}"></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${'Количество комнат: ' + res.roomType.numberOfRooms}"></li>
                        <li class="list-group-item" th:text="${'Цена за сутки: ' + res.roomType.price}"></li>
                    </ul>
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            aria-expanded="true" th:attr="aria-controls=${'collapse'+res.id}, data-bs-target=${'#collapse'+res.id}"></button>
                    <div th:attr="id=${'collapse'+res.id}"class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p th:text="${res.roomType.description}"></p>
                            <p th:each="f : ${res.roomType.features}">
                                <i th:attr="class=${'fas ' + f.icon}"></i> <span th:text="${f.description}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:fragment="results">
  <div class="row mt-2" th:each="res : ${results}">
    <div class="offset-2 offset-lg-3 col-8 col-lg-6">
      <div class="card" style="width: 100%">
        <div th:attr="id=${'carouselExampleIndicators'+res.id}" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide-to="0" class="active"></li>
            <li th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide-to="1"></li>
            <li th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="w-100" th:src="|data:image/png;base64,${res.roomType.photos[0].imageBase64}|">
<!--              <img class="w-100" src="https://picsum.photos/1920/1080?random=1">-->
            </div>
            <div class="carousel-item">
<!--              <img class="w-100" src="https://picsum.photos/1920/1080?random=2">-->
              <img class="w-100" th:src="|data:image/png;base64,${res.roomType.photos[1].imageBase64}|">
            </div>
            <div class="carousel-item">
<!--              <img class="w-100" src="https://picsum.photos/1920/1080?random=3">-->
              <img class="w-100" th:src="|data:image/png;base64,${res.roomType.photos[2].imageBase64}|">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" th:attr="data-bs-target=${'#carouselExampleIndicators'+res.id}"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center" th:text="${res.roomType.title}"></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${'Количество комнат: ' + res.roomType.numberOfRooms}"></li>
            <li class="list-group-item" th:text="${'Цена за сутки: ' + res.roomType.price}"></li>
          </ul>
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  aria-expanded="true" th:attr="aria-controls=${'collapse'+res.id}, data-bs-target=${'#collapse'+res.id}"></button>
        <div th:attr="id=${'collapse'+res.id}"class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p th:text="${res.roomType.description}"></p>
            <p th:each="f : ${res.roomType.features}">
              <i th:attr="class=${'fas ' + f.icon}"></i> <span th:text="${f.description}"></span>
            </p>
          </div>
        </div>
            <div class="blockForm">
                <form action="/user/book" id="blockRoom" method="POST" modelAttribute="booking">
                    <input type="hidden" th:value="${checkIn}" data-date-format="yyyy-mm-dd" name="checkIn"/>
                    <input type="hidden" th:value="${checkOut}" data-date-format="yyyy-mm-dd" name="checkOut"/>
                    <input type="hidden" th:value="${res.id}" name="roomId"/>
                    <input type="hidden" value="" name="userId"/>
                    <button style="display: block; margin: 0 auto;" type="submit" class="btn btn-primary">Забронировать</button>
                </form>
            </div>
        </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>