<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<!--    <p th:text="${room.roomType.title}"></p>-->
<!--    <p th:text="${room.roomType.numberOfRooms}"></p>-->
<!--    <p th:text="${room.roomType.price}"></p>-->
<!--    <tr th:each="feature : ${room.roomType.features}">-->
<!--        <td th:text="${feature.icon}"></td>-->
<!--        <td th:text="${feature.description}"></td>-->
<!--    </tr>-->

    <form action="/files" method="POST" enctype="multipart/form-data">
        <input type="file" multiple id="files" name="files">
        <input type="sumbit" id="submit" name="submit" value="Send">
    </form>

    <div th:if="${images != null}">
        <tr th:each="img : ${images}">
<!--            <img src="*{'data:image/base64' + {img.imageBase64}}">-->
            <img th:src="|data:image/png;base64,${img.imageBase64}|">
        </tr>
    </div>
</div>
</body>
</html>