<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${'Редактирование пользователя №' + user.id}"></p>
<form action="/admin/user" method="post">
    <label for="username">Введите новое имя пользователя</label>
  <input type="text" name="username" id="username" value="">
    <label for="password">Введите новый пароль пользователя</label>
    <input type="text" name="password" id="password" value="">
    <input type="text" name="role" id="role">
    <input type="hidden" th:value="${user.id}" name="userId" id="userId"/>
  <button type="submit">Сохранить</button>
</form>
</body>
</html>