<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="list">
  <table class="table table-bordered table-hover table-stripped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Роль</th>
      <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.roles}"></td>
      <td><button th:data-id="${user.id}" type="button" class="btn iconBtn" onclick="editUser(this.getAttribute('data-id'))"><i class="fas fa-edit"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>

<div th:fragment="user">
  <form action="/admin/user" method="POST" class="form-horizontal" id="saveUser">
    <div class="form-group">
      <label class="col-md-2 control-label">ID</label>
      <input type="number" th:value="${u.id}" id="userId" name="userId" readonly>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Имя пользователя</label>
      <input type="text" th:value="${u.username}" id="username" name="username">
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Роль</label>
      <select required id="roles" name="roles">
        <option value="USER" selected>USER</option>
        <option value="MODERATOR">MODERATOR</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <div id="statusMessage"></div>
  </form>
</div>
</html>
